registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Prefer prebuilt binaries over building from source
build_from_source=false

# better-sqlite3 settings
better_sqlite3_binary_host=https://github.com/WiseLibs/better-sqlite3/releases/download/
