# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build release

on:
  push:
    branches: [ "master" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: export CI=false
      - run: npm config set optional false
      - run: npm install --no-audit
      - run: npm run build --if-present
      - name: 读取当前版本号
        id: version
        uses: ashley-taylor/read-json-property-action@v1.0
        with:
          path: ./package.json
          property: version
      - run: npm run package-linux
      - run: mv ./target/firefire_${{steps.version.outputs.value}}_amd64.deb ./target/firefire-${{steps.version.outputs.value}}.deb
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: firefire-${{steps.version.outputs.value}}.deb
          path: ./target/firefire-${{steps.version.outputs.value}}.deb
  build-win:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Setup Python for node-gyp
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Configure Python for node-gyp
        run: |
          python --version
          which python
          echo "PYTHON=$(which python)" >> $GITHUB_ENV
        shell: bash
      - name: Set CI=false
        run: |
          echo "CI=false" >> $GITHUB_ENV
        shell: bash
      - name: Install dependencies
        run: |
          npm config set optional false
          npm install --prefer-offline --no-audit || true
        env:
          npm_config_build_from_source: false
      - run: npm run build --if-present
      - name: 读取当前版本号
        id: version
        uses: ashley-taylor/read-json-property-action@v1.0
        with:
          path: ./package.json
          property: version
      - run: npm run package-win
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: firefire-${{steps.version.outputs.value}}.exe
          path: ./target/firefire Setup ${{steps.version.outputs.value}}.exe
  build-mac:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: export CI=false
    - run: npm config set optional false
    - run: npm install --no-audit
    - run: npm install dmg-license --save-dev
    - run: npm run build --if-present
    - name: 读取当前版本号
      id: version
      uses: ashley-taylor/read-json-property-action@v1.0
      with:
        path: ./package.json
        property: version
    - run: npm run package-mac
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: firefire-${{steps.version.outputs.value}}.dmg
        path: ./target/firefire-${{steps.version.outputs.value}}.dmg
  release:
    runs-on: ubuntu-latest
    needs: ['build-mac', 'build-win', 'build-linux']
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: export CI=false
      - name: 读取当前版本号
        id: version
        uses: ashley-taylor/read-json-property-action@v1.0
        with:
          path: ./package.json
          property: version
      - name: create GitHub Release
        id: create_release
        uses: actions/create-release@latest
        env:
          # 配置github token （这个无需去github配置，默认存在的）
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # 标签名
          tag_name: v${{steps.version.outputs.value}}
          # release名
          release_name: v${{steps.version.outputs.value}}
          # 是否为草稿
          draft: false
          # 是否为预发布
          prerelease: false
      - name: Download mac
        uses: actions/download-artifact@v4
        with:
          name: firefire-${{steps.version.outputs.value}}.dmg
      - name: Upload Release mac
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: ./firefire-${{steps.version.outputs.value}}.dmg
          asset_name: firefire-${{steps.version.outputs.value}}.dmg
          asset_content_type: application/octet-stream
      - name: Download win
        uses: actions/download-artifact@v4
        with:
          name: firefire-${{steps.version.outputs.value}}.exe
      - name: Upload Release win
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: ./firefire Setup ${{steps.version.outputs.value}}.exe
          asset_name: firefire-${{steps.version.outputs.value}}.exe
          asset_content_type: application/octet-stream
      - name: Download linux
        uses: actions/download-artifact@v4
        with:
          name: firefire-${{steps.version.outputs.value}}.deb
      - name: Upload Release linux
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: ./firefire-${{steps.version.outputs.value}}.deb
          asset_name: firefire-${{steps.version.outputs.value}}.deb
          asset_content_type: application/octet-stream
